:root {
  --primary-color: #007c71; /* Main brand color */
  --secondary-color: #dca452; /* Secondary color, e.g., for buttons */
  --background-color: #f4f4f4; /* Background color */
  --text-color: #333; /* Default text color */
  --accent-color: #bc570e; /* Accent color for highlights */
  --success-color: #005237; /* Success color for positive actions */
  --error-color: #dc3545; /* Error color for alerts */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--background-color);
}

main {
  padding: 1rem;
}

h1,
h2 {
  color: (var--text-color);
}

h3 {
  padding-bottom: 2rem;
  color: (var--text-color);
  font-size: 1.8rem;
}

button {
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border-width: 0;
}

.btn-disabled {
  background-color: lightgray;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #000105;
  border: 1px solid lightgray;
}

.li-hover:hover {
  background-color: #d8d8d8;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: #000925;
}

.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.quiz-container {
  background-color: #f8f8f8;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.container p {
  padding: 8px 0;
}

.text-input {
  padding-top: 1rem;
}

.go-back-button {
  position: absolute;
  top: 20px; /* Adjust the top position as needed for your desired padding */
  right: 20px; /* Adjust the right position as needed for your desired padding */
  padding: 10px; /* Adjust the padding as needed */
  background-color: var(--secondary-color); /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border-radius: 5px; /* Rounded corners */
}

.go-back-button:hover {
  background-color: lightgray; /* Hover background color */
}

.contract-buttons {
  display: flex;
  justify-content: space-between;
}